<app-image-modal #imageModal></app-image-modal>

<div class="container mt-4 mb-4">
    <div class="row">
        <h1 class="page-title">{{ 'lighting' | translate }}</h1>
    </div>

    <div class="row mt-3">
        <div class="col-md-6 main-images">
            <h1  class="product-title" *ngIf="!isLargeScreen">{{ 'chandeliers' | translate }}</h1>
            <img src="https://www.dropbox.com/scl/fi/ure2vnxul71g4dfyb08y0/Prod1.png?rlkey=wik7qujv5hu0fyfuoc6ixcxc5&st=bik0ssq4&raw=1"
                class="img-fluid" alt="Main Product Image">
        </div>
        <div class="col-md-6">
            <h1  class="product-title" *ngIf="isLargeScreen">{{ 'chandeliers' | translate }}</h1>
            <p class="product-description">{{ 'chandeliersDescription' | translate }}</p>
            <div class="sub-images mt-4">
                <div class="row">
                    <h4 class="mt-2">{{ 'images' | translate }}</h4>
                    <div class="col-4"
                        (click)="openModal('https://www.dropbox.com/scl/fi/ure2vnxul71g4dfyb08y0/Prod1.png?rlkey=wik7qujv5hu0fyfuoc6ixcxc5&st=bik0ssq4&raw=1')">
                        <img src="https://www.dropbox.com/scl/fi/ure2vnxul71g4dfyb08y0/Prod1.png?rlkey=wik7qujv5hu0fyfuoc6ixcxc5&st=bik0ssq4&raw=1"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/zj0qyy7djjc5k25h8k745/light2.png?rlkey=bwg5bo4mmx41b3rn128hvjj0m&st=v91kjygr&raw=1"
                          (click)="openModal('https://www.dropbox.com/scl/fi/zj0qyy7djjc5k25h8k745/light2.png?rlkey=bwg5bo4mmx41b3rn128hvjj0m&st=v91kjygr&raw=1')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/euyhhho84o37unazn3kgi/light3.png?rlkey=afwwq5ingpl8cd1u2llftugu1&st=s31pd8ad&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/euyhhho84o37unazn3kgi/light3.png?rlkey=afwwq5ingpl8cd1u2llftugu1&st=s31pd8ad&raw=1')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                </div>
            </div>
            <div>
                <h4 class="mt-2">{{ 'dimensions' | translate }}</h4>
                <div>● {{ 'medium' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                <div>● {{ 'large' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
            </div>
        </div>
    </div>

    <hr class="custom-divider">

    <div class="row mt-3">
        <div class="col-md-6 main-images">
            <h1  class="product-title" *ngIf="!isLargeScreen">{{ 'deskLamp' | translate }}</h1>
            <img src="https://www.dropbox.com/scl/fi/grkjp2nvqao5r1wc7xedd/light6.png?rlkey=85xa67w41gi6m3qacr6l4yo3g&st=wm7edl7v&raw=1"
                class="img-fluid" alt="Main Product Image">
        </div>
        <div class="col-md-6">
            <h1  class="product-title" *ngIf="isLargeScreen">{{ 'deskLamp' | translate }}</h1>
            <p class="product-description">{{ 'deskLampDescription' | translate }}</p>
            <div class="sub-images mt-4">
                <h4 class="mt-2">{{ 'images' | translate }}</h4>
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/grkjp2nvqao5r1wc7xedd/light6.png?rlkey=85xa67w41gi6m3qacr6l4yo3g&st=wm7edl7v&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/grkjp2nvqao5r1wc7xedd/light6.png?rlkey=85xa67w41gi6m3qacr6l4yo3g&st=wm7edl7v&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/r2khp2gxhsm8925844ioy/light5.png?rlkey=azay00uzxv3nlbkjq0k0tcg0h&st=wl9qmh5d&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/r2khp2gxhsm8925844ioy/light5.png?rlkey=azay00uzxv3nlbkjq0k0tcg0h&st=wl9qmh5d&raw=1')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/grkjp2nvqao5r1wc7xedd/light6.png?rlkey=85xa67w41gi6m3qacr6l4yo3g&st=5idehqu8&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/grkjp2nvqao5r1wc7xedd/light6.png?rlkey=85xa67w41gi6m3qacr6l4yo3g&st=5idehqu8&raw=1')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                </div>
            </div>
            <div class="sub-images mt-4">
                <h4 class="mt-2">{{ 'arts' | translate }}</h4>
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/yi7jyxyyu3c25e8hrhi00/lightstyle1-02.png?rlkey=0vudltxfvmuvft9uaxnkh2kfg&st=1pfpkqmp&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/yi7jyxyyu3c25e8hrhi00/lightstyle1-02.png?rlkey=0vudltxfvmuvft9uaxnkh2kfg&st=1pfpkqmp&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/z8ba9rbypbdh9gb2qqu0p/lightstyle2-02.png?rlkey=x7075jifgec9aujhd40uexh11&st=g0vi8tgv&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/z8ba9rbypbdh9gb2qqu0p/lightstyle2-02.png?rlkey=x7075jifgec9aujhd40uexh11&st=g0vi8tgv&raw=1')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/sm33oqmxujczmkg2ab31c/lightstyle3-02.png?rlkey=gxj927xagqtzvx4og6nziwkca&st=z3yuejfi&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/sm33oqmxujczmkg2ab31c/lightstyle3-02.png?rlkey=gxj927xagqtzvx4og6nziwkca&st=z3yuejfi&raw=1')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                </div>
            </div>
            <div>
                <h4 class="mt-2">{{ 'dimensions' | translate }}</h4>
                <div>● {{ 'small' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                <div>● {{ 'medium' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                <div>● {{ 'large' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
            </div>
        </div>
    </div>

</div>