<div class="container" dir="rtl">
    <h1 class="text-center mt-4">معلومات الاتصال</h1>
    <div class="row mt-4">
      <div class="col-md-6">
        <h5>العنوان</h5>
        <p>123 شارع المثال، المدينة، الدولة</p>
      </div>
      <div class="col-md-6">
        <h5>رقم الهاتف</h5>
        <p>123-456-7890</p>
      </div>
      <div class="col-md-6">
        <h5>البريد الإلكتروني</h5>
        <p> </p>
      </div>
      <div class="col-md-6">
        <h5>ساعات العمل</h5>
        <p>من الاثنين إلى الجمعة: 9 صباحاً - 5 مساءً</p>
      </div>
    </div>
  </div>
  