<nav class="navbar navbar-expand-lg">
  <div class="container-fluid" dir="rtl">
    <a class="navbar-brand" href="#">
      <img src="https://i.ibb.co/wS1j6y1/Logo.png" alt="Logo" width="70" height="40" class="d-inline-block align-text-top me-2">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">الصفحة الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#products">المنتجات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">معلومات التواصل</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
