/* src/app/navbar/navbar.component.scss */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #493628;
    color: white;
  
    .navbar-logo {
      font-size: 1.5em;
      font-weight: bold;
    }
  
    .navbar-links {
      list-style: none;
      display: flex;
      gap: 20px;
  
      li {
        a {
          color: white;
          text-decoration: none;
          font-weight: 500;
        }
  
        a:hover {
          color: #f0f0f0;
          text-decoration: underline;
        }
      }
    }
  }

  .nav-link{
    color: white;
  }
  