<div class="modal fade" id="sharedImageModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <img *ngIf="imageSrc" [src]="imageSrc" alt="Large View" class="img-fluid">
          <!-- You can add other content here if needed -->
        </div>
        <!-- div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'close' | translate }}</button>
        </div -->
      </div>
    </div>
  </div>