<footer class="bg-dark text-white pt-4 pb-4 mt-auto text-right">
  <div class="container">
    <div class="row">
      <div class="col-6 mb-3">
        <h5>للتواصل داخل الإمارات</h5>
        <p>00967545020847</p>
      </div>
      <div class="col-6 mb-3">
        <h5>للتواصل داخل سوريا</h5>
        <p>00963996314115</p>
      </div>
      <div class="col-6 mb-3">
        <h5>واتساب</h5>
        <p>00967545020847</p>
      </div>
      <div class="col-6 mb-3">
        <h5>حساب الإنستغرام</h5>
        <p>{{ '@mr.khashoob' }}</p>
      </div>
    </div>
  </div>
</footer>
