<footer class="bg-dark text-white pt-4 pb-4 mt-auto text-right">
  <div class="container">
    <div class="row">
      <div class="col-6 mb-3">
        <h5><i class="fas fa-phone-alt"></i> {{ 'emaritesContact' | translate }}</h5>
        <p>00967545020847</p>
      </div>
      <div class="col-6 mb-3">
        <h5><i class="fas fa-phone-alt"></i> {{ 'syriaContact' | translate }}</h5>
        <p>00963996314115</p>
      </div>
      <div class="col-6 mb-3">
        <h5><i class="fab fa-whatsapp"></i> {{ 'whatsappContact' | translate }}</h5>
        <p>00967545020847</p>
      </div>
      <div class="col-6 mb-3">
        <h5><i class="fab fa-instagram"></i> {{ 'instagramContact' | translate }}</h5>
        <p>{{ '@mr.khashoob' }}</p>
      </div>
    </div>
  </div>
</footer>
