footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: right; /* Ensure text alignment is right for RTL */
}

.container {
  direction: rtl; /* Set the container direction to RTL */
}

h1 {
  color: #333;
  font-weight: bold;
  color: #822E2E;
}

h5 {
  color: #555;
  font-size: 0.9em;;
}

p {
  color: #777;
}
