<div class="hero-container" [ngClass]="backgroundClass">
  <div class="hero-text">
    <h1>{{ 'superHeaderTitle' | translate }}</h1>
    <p class="mt-4 header-description">{{ 'superHeaderDescription' | translate }}</p>
    <button class="btn prod-btn mt-3" (click)="scrollToTarget()">{{ 'showProducts' | translate }}</button>
  </div>
</div>

<div id="products" class="gallery-container">
  <h1 style="color: #822E2E">{{ 'ourProducts' | translate }}</h1>
  <div class="product-grid">
    <div class="product-card cursor-pointer" (click)="navigateTo('/lighting')">
      <img src="Images/Prod1.webp">
      <h2>{{ 'lighting' | translate }}</h2>
    </div>
    <div class="product-card cursor-pointer" (click)="navigateTo('/boxes')">
      <img src="Images/prod2.webp">
      <h2>{{ 'boxes' | translate }}</h2>
    </div>
    <div class="product-card cursor-pointer" (click)="navigateTo('/frames')">
      <img src="Images/prod3.webp">
      <h2>{{ 'frames' | translate }}</h2>
    </div>
    <div class="product-card cursor-pointer" (click)="navigateTo('/office')">
      <img src="Images/prod4.webp">
      <h2>{{ 'forOffice' | translate }}</h2>
    </div>
    <div class="product-card cursor-pointer" (click)="navigateTo('/keychain')">
      <img src="Images/keychain2.webp">
      <h2>{{ 'keyChains' | translate }}</h2>
    </div>
    <div class="product-card cursor-pointer" (click)="navigateTo('/general')">
      <img src="Images/KeyHolder3.webp">
      <h2>{{ 'general' | translate }}</h2>
    </div>
  </div>
</div>