<div class="hero-container" [ngClass]="backgroundClass">
  <div class="hero-text">
    <h1>{{ 'superHeaderTitle' | translate }}</h1>
    <p class="mt-4 header-description">{{ 'superHeaderDescription' | translate }}</p>
    <button class="btn prod-btn mt-3" (click)="scrollToTarget()">{{ 'showProducts' | translate }}</button>
  </div>
</div>

<div id="products" class="gallery-container">
  <h1 style="color: #822E2E">{{ 'ourProducts' | translate }}</h1>
  <div class="product-grid">
    <div class="product-card cursor-pointer" (click)="navigateTo('/lighting')">
      <img src="https://www.dropbox.com/scl/fi/ure2vnxul71g4dfyb08y0/Prod1.png?rlkey=wik7qujv5hu0fyfuoc6ixcxc5&st=bik0ssq4&raw=1">
      <h2>{{ 'lighting' | translate }}</h2>
    </div>
    <div class="product-card cursor-pointer" (click)="navigateTo('/boxes')">
      <img src="https://www.dropbox.com/scl/fi/xux82tyup8nfm570ho8oa/prod2.png?rlkey=4rz7ybicw70wk7mq13iyr4d0m&st=rtqpgd2s&raw=1">
      <h2>{{ 'boxes' | translate }}</h2>
    </div>
    <div class="product-card cursor-pointer" (click)="navigateTo('/frames')">
      <img src="https://www.dropbox.com/scl/fi/mqlnllmnt9gcff0msmocv/prod3.png?rlkey=5hq5evjqk7y3qbh00dgncrwr5&st=uoltpzcn&raw=1">
      <h2>{{ 'frames' | translate }}</h2>
    </div>
    <div class="product-card cursor-pointer" (click)="navigateTo('/accessories')">
      <img src="https://www.dropbox.com/scl/fi/dtvxctqnb9metv7habilp/prod4.png?rlkey=jlytvwi09nhzctz0yzgc7kkts&st=b3m0l3em&raw=1">
      <h2>{{ 'accessories' | translate }}</h2>
    </div>
  </div>
</div>