.hero-container {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

/* styles.css or any global stylesheet */
.ltr-background {
  background-image: url('https://www.dropbox.com/scl/fi/gn7k3nkcbucxw8vilzlsh/Hero-Header-Small-EN.png?rlkey=g6ismvt7geduxdz7m98tvisnh&st=g8rfz5dv&raw=1'); @media (min-width: 768px) { background-image: url('https://www.dropbox.com/scl/fi/viw6m5ltxaryuojbmrelf/Hero-Header-EN.png?rlkey=sfonns5v1jfommwdso09rw4wu&st=k5ptz1k0&raw=1'); }

}

.rtl-background {
  background-image: url('https://www.dropbox.com/scl/fi/yfq1rvda00jwfvzwmznvm/Hero-Header-Small.png?rlkey=f4haexx5z8ukgrud6u111rsoz&st=kevt344u&raw=1'); @media (min-width: 768px) { background-image: url('https://www.dropbox.com/scl/fi/etpr7brqkaji1zfg6itrs/Hero-Header.png?rlkey=59e9k6gtefrsfd7tuuowmmra6&st=sqaw2hk4&raw=1'); }

}

.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #822E2E;
  font-size: 1.5em;
  padding-left: 30px; @media (min-width: 768px) { padding-left: 160px; }
  padding-right: 30px; @media (min-width: 768px) { padding-right: 160px; }
}

.prod-btn{
  background-color: #C08261;
  color: white;
  font-size: 0.9em;
}

h1 {
  font-weight: bold;
}

.gallery-container {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
    color: #333;
    
    padding-left: 10px; @media (min-width: 768px) { padding-left: 160px; }
    padding-right: 10px; @media (min-width: 768px) { padding-right: 160px; }
    
    h1 {
      font-size: 2em;
      margin-bottom: 20px;
      color: #00796b;
    }
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 10px;
  }
  
  .product-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  
    img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  
    h2 {
      font-size: 1.5em;
      margin: 10px 0 5px;
    }
  
    p {
      color: #555;
      font-size: 0.9em;
    }
  }

  .header-description{
    width: 100%; @media (min-width: 768px) { width: 60%; }
  }