<app-image-modal #imageModal></app-image-modal>

<div class="container mt-4 mb-4">
    <div class="row">
        <h1 class="page-title">{{ 'boxes' | translate }}</h1>
    </div>

    <div class="row mt-3">
        <div class="col-md-6 main-images">
            <h1  class="product-title" *ngIf="!isLargeScreen">{{ 'hospitalityBoxes' | translate }}</h1>
            <img src="Images/prod2.webp"
                class="img-fluid" alt="Main Product Image">
        </div>
        <div class="col-md-6">
            <h1  class="product-title" *ngIf="isLargeScreen">{{ 'hospitalityBoxes' | translate }}</h1>
            <p class="product-description">{{ 'hospitalityBoxesDescription' | translate }}</p>
            <div class="sub-images mt-4">
                <div class="row">
                    <h4 class="mt-2">{{ 'images' | translate }}</h4>
                    <div class="col-4"
                        (click)="openModal('Images/boxes1.webp')">
                        <img src="Images/boxes1.webp"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="Images/boxes2.webp"
                          (click)="openModal('Images/boxes2.webp')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="Images/boxes3.webp"
                        (click)="openModal('Images/boxes3.webp')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                    <div class="col-4"
                        (click)="openModal('Images/boxes4.webp')">
                        <img src="Images/boxes4.webp"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="Images/boxes5.webp"
                        (click)="openModal('Images/boxes5.webp')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="Images/boxes6.webp"
                        (click)="openModal('Images/boxes6.webp')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                </div>
            </div>
            <div class="sub-images mt-4">
                <h4 class="mt-2">{{ 'arts' | translate }}</h4>
                <div class="row">
                    <div class="col-4">
                        <img src="Images/BoxPattern1-01.webp"
                        (click)="openModal('Images/BoxPattern1-01.webp')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="Images/BoxPattern2-01.webp"
                        (click)="openModal('Images/BoxPattern2-01.webp')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="Images/BoxPattern3-01.webp"
                        (click)="openModal('Images/BoxPattern3-01.webp')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                </div>
            </div>
            <div>
                <h4 class="mt-2">{{ 'dimensions' | translate }}</h4>
                <div>● {{ 'medium' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                <div>● {{ 'large' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
            </div>
        </div>
    </div>

    <hr class="custom-divider">

    <div class="row mt-3">
        <div class="col-md-6 main-images">
            <h1  class="product-title" *ngIf="!isLargeScreen">{{ 'tissueBoxes' | translate }}</h1>
            <img src="Images/tissue222.webp"
                class="img-fluid" alt="Main Product Image">
        </div>
        <div class="col-md-6">
            <h1  class="product-title" *ngIf="isLargeScreen">{{ 'tissueBoxes' | translate }}</h1>
            <p class="product-description">{{ 'tissueBoxesDescription' | translate }}</p>
            <div class="sub-images mt-4">
                <h4 class="mt-2">{{ 'images' | translate }}</h4>
                <div class="row">
                    <div class="col-4">
                        <img src="Images/tissue12.webp"
                        (click)="openModal('Images/tissue12.webp')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="Images/tissue22.webp"
                        (click)="openModal('Images/tissue22.webp')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="Images/tissue32.webp"
                        (click)="openModal('Images/tissue32.webp')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                </div>
                <div class="sub-images mt-4">
                    <h4 class="mt-2">{{ 'arts' | translate }}</h4>
                    <div class="row">
                        <div class="col-4">
                            <img src="Images/TissuePattern-01.webp"
                            (click)="openModal('Images/TissuePattern-01.webp')"
                                class="img-fluid" alt="Sub Image 1">
                        </div>
                        <div class="col-4">
                            <img src="Images/TissuePattern2-01.webp"
                            (click)="openModal('Images/TissuePattern2-01.webp')"
                                class="img-fluid" alt="Sub Image 2">
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="mt-2">{{ 'dimensions' | translate }}</h4>
                    <div>● {{ 'medium' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                    <div>● {{ 'large' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                </div>
            </div>
        </div>
    </div>

    <hr class="custom-divider">

    <div class="row mt-3">
        <div class="col-md-6 main-images">
            <h1  class="product-title" *ngIf="!isLargeScreen">{{ 'quranBoxes' | translate }}</h1>
            <img src="Images/quran1.webp"
                class="img-fluid" alt="Main Product Image">
        </div>
        <div class="col-md-6">
            <h1  class="product-title" *ngIf="isLargeScreen">{{ 'quranBoxes' | translate }}</h1>
            <div class="sub-images mt-4">
                <h4 class="mt-2">{{ 'images' | translate }}</h4>
                <div class="row">
                    <div class="col-4">
                        <img src="Images/quran1.webp"
                        (click)="openModal('Images/quran1.webp')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="Images/quran2.webp"
                        (click)="openModal('Images/quran2.webp')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                </div>
                <div>
                    <h4 class="mt-2">{{ 'dimensions' | translate }}</h4>
                    <div>● {{ 'medium' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                    <div>● {{ 'large' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                </div>
            </div>
        </div>
    </div>
</div>