<app-image-modal #imageModal></app-image-modal>

<div class="container mt-4 mb-4">
    <div class="row">
        <h1 class="page-title">{{ 'boxes' | translate }}</h1>
    </div>

    <div class="row mt-3">
        <div class="col-md-6 main-images">
            <h1  class="product-title" *ngIf="!isLargeScreen">{{ 'hospitalityBoxes' | translate }}</h1>
            <img src="https://www.dropbox.com/scl/fi/xux82tyup8nfm570ho8oa/prod2.png?rlkey=4rz7ybicw70wk7mq13iyr4d0m&st=rtqpgd2s&raw=1"
                class="img-fluid" alt="Main Product Image">
        </div>
        <div class="col-md-6">
            <h1  class="product-title" *ngIf="isLargeScreen">{{ 'hospitalityBoxes' | translate }}</h1>
            <p class="product-description">{{ 'hospitalityBoxesDescription' | translate }}</p>
            <div class="sub-images mt-4">
                <div class="row">
                    <h4 class="mt-2">{{ 'images' | translate }}</h4>
                    <div class="col-4"
                        (click)="openModal('https://www.dropbox.com/scl/fi/aem63qlu7nb9i1jw85acb/boxes1.png?rlkey=ceqohrealepl6dwrpkier6sz1&st=f7m0jypr&raw=1')">
                        <img src="https://www.dropbox.com/scl/fi/aem63qlu7nb9i1jw85acb/boxes1.png?rlkey=ceqohrealepl6dwrpkier6sz1&st=f7m0jypr&raw=1"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/opetrjplrx8g8jbm8nn7g/boxes2.png?rlkey=lna3mbli2k9uoj0j2czx7tx06&st=l9yk41l8&raw=1"
                          (click)="openModal('https://www.dropbox.com/scl/fi/opetrjplrx8g8jbm8nn7g/boxes2.png?rlkey=lna3mbli2k9uoj0j2czx7tx06&st=l9yk41l8&raw=1')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/zslb7i20rfgjmf924lv54/boxes3.png?rlkey=3ge0hay7f5gjqdfh94cq3uz5m&st=e0hijtqn&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/zslb7i20rfgjmf924lv54/boxes3.png?rlkey=3ge0hay7f5gjqdfh94cq3uz5m&st=e0hijtqn&raw=1')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                    <div class="col-4"
                        (click)="openModal('https://www.dropbox.com/scl/fi/ala1fsgzufsjyed6aeoug/boxes4.png?rlkey=5p04u0fk0xbc9s9xsctueo0fq&st=bmf1w230&raw=1')">
                        <img src="https://www.dropbox.com/scl/fi/ala1fsgzufsjyed6aeoug/boxes4.png?rlkey=5p04u0fk0xbc9s9xsctueo0fq&st=bmf1w230&raw=1"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/k7ccpc6fzlmxqs4b1ru22/boxes5.png?rlkey=fha6ealzx9iczlq8dgfixi9bo&st=mhlxw104&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/k7ccpc6fzlmxqs4b1ru22/boxes5.png?rlkey=fha6ealzx9iczlq8dgfixi9bo&st=mhlxw104&raw=1')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/stazu86j5o454swusja6u/boxes6.png?rlkey=7evxqys2nnhzxtt6ntj53zjd0&st=42ysjhfc&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/stazu86j5o454swusja6u/boxes6.png?rlkey=7evxqys2nnhzxtt6ntj53zjd0&st=42ysjhfc&raw=1')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                </div>
            </div>
            <div class="sub-images mt-4">
                <h4 class="mt-2">{{ 'arts' | translate }}</h4>
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/r1vnnpofs1k2hcjbusy95/BoxPattern1-01.png?rlkey=azu9vghpij5cmwegud1zc4k9x&st=7viq7opj&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/r1vnnpofs1k2hcjbusy95/BoxPattern1-01.png?rlkey=azu9vghpij5cmwegud1zc4k9x&st=7viq7opj&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/7s321j12v42gbjtznkm9n/BoxPattern2-01.png?rlkey=4fxqm8338vakgcbunkpuw0pcz&st=u4pb71rm&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/7s321j12v42gbjtznkm9n/BoxPattern2-01.png?rlkey=4fxqm8338vakgcbunkpuw0pcz&st=u4pb71rm&raw=1')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/3l9vvh493dtsrtsn0wgpt/BoxPattern3-01.png?rlkey=gb4t39qyvuzd6yd7aj5848bld&st=8amzy6t8&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/3l9vvh493dtsrtsn0wgpt/BoxPattern3-01.png?rlkey=gb4t39qyvuzd6yd7aj5848bld&st=8amzy6t8&raw=1')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                </div>
            </div>
            <div>
                <h4 class="mt-2">{{ 'dimensions' | translate }}</h4>
                <div>● {{ 'medium' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                <div>● {{ 'large' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
            </div>
        </div>
    </div>

    <hr class="custom-divider">

    <div class="row mt-3">
        <div class="col-md-6 main-images">
            <h1  class="product-title" *ngIf="!isLargeScreen">{{ 'tissueBoxes' | translate }}</h1>
            <img src="https://www.dropbox.com/scl/fi/zjjdk411qcb6kq3m7vukc/tissue222.png?rlkey=s7mhxh3sf1hlfbmzy5eiiyk7c&st=1gih9v8b&raw=1"
                class="img-fluid" alt="Main Product Image">
        </div>
        <div class="col-md-6">
            <h1  class="product-title" *ngIf="isLargeScreen">{{ 'tissueBoxes' | translate }}</h1>
            <p class="product-description">{{ 'tissueBoxesDescription' | translate }}</p>
            <div class="sub-images mt-4">
                <h4 class="mt-2">{{ 'images' | translate }}</h4>
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/v3y78cjwtk4jmi4h39uct/tissue12.png?rlkey=w8z7oksloyt6hi1r3gctwi354&st=atrkkgsb&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/v3y78cjwtk4jmi4h39uct/tissue12.png?rlkey=w8z7oksloyt6hi1r3gctwi354&st=atrkkgsb&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/2dg8ofdomr5fwj9bkity0/tissue22.png?rlkey=pj8vubwi6tkmpsnoh902z9bxy&st=p7gfujj6&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/2dg8ofdomr5fwj9bkity0/tissue22.png?rlkey=pj8vubwi6tkmpsnoh902z9bxy&st=p7gfujj6&raw=1')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/qe3uqzghll6n29t0wdewr/tissue32.png?rlkey=ygcoa0jjpux4kwyzdrffrj17s&st=0shhfrjg&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/qe3uqzghll6n29t0wdewr/tissue32.png?rlkey=ygcoa0jjpux4kwyzdrffrj17s&st=0shhfrjg&raw=1')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                </div>
                <div class="sub-images mt-4">
                    <h4 class="mt-2">{{ 'arts' | translate }}</h4>
                    <div class="row">
                        <div class="col-4">
                            <img src="https://www.dropbox.com/scl/fi/j2uwuojzlaeqcz7oel4zi/TissuePattern-01.png?rlkey=jg09hqyk2z3lz6s6zxybt3g5n&st=mtwh6m9h&raw=1"
                            (click)="openModal('https://www.dropbox.com/scl/fi/j2uwuojzlaeqcz7oel4zi/TissuePattern-01.png?rlkey=jg09hqyk2z3lz6s6zxybt3g5n&st=mtwh6m9h&raw=1')"
                                class="img-fluid" alt="Sub Image 1">
                        </div>
                        <div class="col-4">
                            <img src="https://www.dropbox.com/scl/fi/8p8ya9ugm5iu0l338a1zv/TissuePattern2-01.png?rlkey=tz6ugo9qtsp1r1saei1zu6wg8&st=5t3fpz1b&raw=1"
                            (click)="openModal('https://www.dropbox.com/scl/fi/8p8ya9ugm5iu0l338a1zv/TissuePattern2-01.png?rlkey=tz6ugo9qtsp1r1saei1zu6wg8&st=5t3fpz1b&raw=1')"
                                class="img-fluid" alt="Sub Image 2">
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="mt-2">{{ 'dimensions' | translate }}</h4>
                    <div>● {{ 'medium' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                    <div>● {{ 'large' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                </div>
            </div>
        </div>
    </div>

    <hr class="custom-divider">

    <div class="row mt-3">
        <div class="col-md-6 main-images">
            <h1  class="product-title" *ngIf="!isLargeScreen">{{ 'quranBoxes' | translate }}</h1>
            <img src="https://www.dropbox.com/scl/fi/34caqn9bfvwmfcjb1vug0/quran1.png?rlkey=c9vty6empvb6jdipi9qr131xo&st=1ma1yp2u&raw=1"
                class="img-fluid" alt="Main Product Image">
        </div>
        <div class="col-md-6">
            <h1  class="product-title" *ngIf="isLargeScreen">{{ 'quranBoxes' | translate }}</h1>
            <div class="sub-images mt-4">
                <h4 class="mt-2">{{ 'images' | translate }}</h4>
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/34caqn9bfvwmfcjb1vug0/quran1.png?rlkey=c9vty6empvb6jdipi9qr131xo&st=1ma1yp2u&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/34caqn9bfvwmfcjb1vug0/quran1.png?rlkey=c9vty6empvb6jdipi9qr131xo&st=1ma1yp2u&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/u3l2pwgtx332ta6q3il87/quran2.png?rlkey=8307785cexyn7ocorlrftpas1&st=ids10ad1&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/u3l2pwgtx332ta6q3il87/quran2.png?rlkey=8307785cexyn7ocorlrftpas1&st=ids10ad1&raw=1')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                </div>
                <div>
                    <h4 class="mt-2">{{ 'dimensions' | translate }}</h4>
                    <div>● {{ 'medium' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                    <div>● {{ 'large' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                </div>
            </div>
        </div>
    </div>
</div>