<app-image-modal #imageModal></app-image-modal>

<div class="container mt-4 mb-4">
    <div class="row">
        <h1 class="page-title">{{ 'accessories' | translate }}</h1>
    </div>

    <div class="row mt-3">
        <h1  class="product-title" *ngIf="!isLargeScreen">{{ 'mobileStand' | translate }}</h1>
        <div class="col-md-6 main-images">
            <img src="https://www.dropbox.com/scl/fi/dtvxctqnb9metv7habilp/prod4.png?rlkey=jlytvwi09nhzctz0yzgc7kkts&st=b3m0l3em&raw=1"
                class="img-fluid" alt="Main Product Image">
        </div>
        <div class="col-md-6">
            <h1  class="product-title" *ngIf="isLargeScreen">{{ 'mobileStand' | translate }}</h1>
            <p class="product-description">{{ 'mobileStandDescription' | translate }}</p>
            <div class="sub-images mt-4">
                <div class="row">
                    <h4 class="mt-2">{{ 'images' | translate }}</h4>
                    <div class="col-4"
                        (click)="openModal('https://www.dropbox.com/scl/fi/avdfld6jm91c66te7eewf/mobile1.png?rlkey=vyqg3a1a1uxwpirxi5fguz1a3&st=fo4zdvqm&raw=1')">
                        <img src="https://www.dropbox.com/scl/fi/avdfld6jm91c66te7eewf/mobile1.png?rlkey=vyqg3a1a1uxwpirxi5fguz1a3&st=fo4zdvqm&raw=1"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/5mo7l0r4jpq9m9elonz7s/mobile2.png?rlkey=rwong2ndsokajywzj0ugneel6&st=x9ap5b38&raw=1"
                          (click)="openModal('https://www.dropbox.com/scl/fi/5mo7l0r4jpq9m9elonz7s/mobile2.png?rlkey=rwong2ndsokajywzj0ugneel6&st=x9ap5b38&raw=1')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/dkaa5if6i2idw2g7in1fa/mobile3.png?rlkey=u5j4hv30x2yjlr0c40dbol3fj&st=quefoibs&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/dkaa5if6i2idw2g7in1fa/mobile3.png?rlkey=u5j4hv30x2yjlr0c40dbol3fj&st=quefoibs&raw=1')"
                            class="img-fluid" alt="Sub Image 3">
                    </div>
                    <div class="col-4"
                        (click)="openModal('https://www.dropbox.com/scl/fi/q18aowjv02wr6w130s9kb/mobile4.png?rlkey=cgmx0wjchjvmu8935py7u4v54&st=l43hku1u&raw=1')">
                        <img src="https://www.dropbox.com/scl/fi/q18aowjv02wr6w130s9kb/mobile4.png?rlkey=cgmx0wjchjvmu8935py7u4v54&st=l43hku1u&raw=1"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/uysxlmmp80xoelflngy4a/mobile5.png?rlkey=ybda8czr2norfl0n33av77hj4&st=yqdkm0tx&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/uysxlmmp80xoelflngy4a/mobile5.png?rlkey=ybda8czr2norfl0n33av77hj4&st=yqdkm0tx&raw=1')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                </div>
            </div>
            <div class="sub-images mt-4">
                <h4 class="mt-2">{{ 'arts' | translate }}</h4>
                <div class="row">
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/j7evsisjtynuufckgyyz1/mobilePattern-01.png?rlkey=4wxyjk48ht60dleo2tiabn41u&st=hw621q72&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/j7evsisjtynuufckgyyz1/mobilePattern-01.png?rlkey=4wxyjk48ht60dleo2tiabn41u&st=hw621q72&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/uos2302fdaik49q4ygd0z/mobilePattern-02.png?rlkey=miy8p4oohkv3qayqb4r954wa3&st=6yhi0g4q&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/uos2302fdaik49q4ygd0z/mobilePattern-02.png?rlkey=miy8p4oohkv3qayqb4r954wa3&st=6yhi0g4q&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/pqb4hfxf8fcg5rbkmpt30/mobilePattern-03.png?rlkey=f7163dh1wgd4xs0mkicyvynah&st=lpmzvbgi&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/pqb4hfxf8fcg5rbkmpt30/mobilePattern-03.png?rlkey=f7163dh1wgd4xs0mkicyvynah&st=lpmzvbgi&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/eej49k30krs9mw3t9i1mx/mobilePattern-04.png?rlkey=fmtt46p6ppgt1ige9kz2ifnuh&st=zdv6z0yu&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/eej49k30krs9mw3t9i1mx/mobilePattern-04.png?rlkey=fmtt46p6ppgt1ige9kz2ifnuh&st=zdv6z0yu&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/77qfmgr5k25si2wz1in67/mobilePattern-05.png?rlkey=wjlw0tmiju6tjv48mkv3giial&st=71d66bwy&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/77qfmgr5k25si2wz1in67/mobilePattern-05.png?rlkey=wjlw0tmiju6tjv48mkv3giial&st=71d66bwy&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/c9c12g4emfu9w1gai6h0a/mobilePattern-06.png?rlkey=nmcgucsh2t8uyse46qukgb2ba&st=kf6sj6na&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/c9c12g4emfu9w1gai6h0a/mobilePattern-06.png?rlkey=nmcgucsh2t8uyse46qukgb2ba&st=kf6sj6na&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/vofcrnd7l31umd2mcfxm1/mobilePattern-07.png?rlkey=qhtipzrpd72h6sdcbvwj6sa04&st=l7cdwkz0&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/vofcrnd7l31umd2mcfxm1/mobilePattern-07.png?rlkey=qhtipzrpd72h6sdcbvwj6sa04&st=l7cdwkz0&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/v48cugm022l30lvrd3m4g/mobilePattern-08.png?rlkey=y9x7t2xmch12uikczhfwtt127&st=2o20bas4&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/v48cugm022l30lvrd3m4g/mobilePattern-08.png?rlkey=y9x7t2xmch12uikczhfwtt127&st=2o20bas4&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/gu1a5smvpz5j3vqwd8ilc/mobilePattern-09.png?rlkey=1hrxkrxe9m3jyioiqiqhbwbtx&st=01jwuesa&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/gu1a5smvpz5j3vqwd8ilc/mobilePattern-09.png?rlkey=1hrxkrxe9m3jyioiqiqhbwbtx&st=01jwuesa&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/2rtrxsd0rljw8nwz7fnlb/mobilePattern-10.png?rlkey=w3xt02tof8wmiqrumhg16teq8&st=1dcbzf3r&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/2rtrxsd0rljw8nwz7fnlb/mobilePattern-10.png?rlkey=w3xt02tof8wmiqrumhg16teq8&st=1dcbzf3r&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/8fufdf772r5witafhqxjp/mobilePattern-11.png?rlkey=prgu8k0btja4wrfq2v8j0iblv&st=yjp3kdc2&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/8fufdf772r5witafhqxjp/mobilePattern-11.png?rlkey=prgu8k0btja4wrfq2v8j0iblv&st=yjp3kdc2&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/nrfuhq5jx186akhohh4ix/mobilePattern-12.png?rlkey=eho34522uwuh7apgg1x679enz&st=vzui8yyn&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/nrfuhq5jx186akhohh4ix/mobilePattern-12.png?rlkey=eho34522uwuh7apgg1x679enz&st=vzui8yyn&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-3">
                        <img src="https://www.dropbox.com/scl/fi/jcfqo361nryg471le8y0b/mobilePattern-13.png?rlkey=j6hc90qnppj36ac2voqbwvbqa&st=ctss1sia&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/jcfqo361nryg471le8y0b/mobilePattern-13.png?rlkey=j6hc90qnppj36ac2voqbwvbqa&st=ctss1sia&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                </div>
            </div>
            <div>
                <h4 class="mt-2">{{ 'dimensions' | translate }}</h4>
                <div>● {{ 'medium' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                <div>● {{ 'large' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
            </div>
        </div>
    </div>

    <hr class="custom-divider">

    <div class="row mt-3">
        <h1  class="product-title" *ngIf="!isLargeScreen">{{ 'keyHolder' | translate }}</h1>
        <div class="col-md-6 main-images">
            <img src="https://www.dropbox.com/scl/fi/w0ot9qvf0uzgs46qsxr0p/keyHolder1.png?rlkey=xkx4hth2ktrp3f6zzivmix6r5&st=dk0inpfe&raw=1"
                class="img-fluid" alt="Main Product Image">
        </div>
        <div class="col-md-6">
            <h1  class="product-title" *ngIf="isLargeScreen">{{ 'keyHolder' | translate }}</h1>
            <p class="product-description">{{ 'keyHolderDescription' | translate }}</p>
            <div class="sub-images mt-4">
                <h4 class="mt-2">{{ 'images' | translate }}</h4>
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/w0ot9qvf0uzgs46qsxr0p/keyHolder1.png?rlkey=xkx4hth2ktrp3f6zzivmix6r5&st=dk0inpfe&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/w0ot9qvf0uzgs46qsxr0p/keyHolder1.png?rlkey=xkx4hth2ktrp3f6zzivmix6r5&st=dk0inpfe&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/7is65ia6loqufe4jq5r6b/keyHolder2.png?rlkey=24wr5fq3brkdcjo699c6l0ddf&st=03v7vnrb&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/7is65ia6loqufe4jq5r6b/keyHolder2.png?rlkey=24wr5fq3brkdcjo699c6l0ddf&st=03v7vnrb&raw=1')"
                            class="img-fluid" alt="Sub Image 2">
                    </div>
                </div>
                <div>
                    <h4 class="mt-2">{{ 'dimensions' | translate }}</h4>
                    <div>● {{ 'medium' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                    <div>● {{ 'large' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                </div>
            </div>
        </div>
    </div>

    <hr class="custom-divider">

    <div class="row mt-3">
        <div class="col-md-6 main-images">
            <h1  class="product-title" *ngIf="!isLargeScreen">{{ 'keyChain' | translate }}</h1>
            <img src="https://www.dropbox.com/scl/fi/db3parer92b836ubb6brh/keyChain1.png?rlkey=w524cab3o6p8o36jxf08xreie&st=wtkq3lzy&raw=1"
                class="img-fluid" alt="Main Product Image">
        </div>
        <div class="col-md-6">
            <h1  class="product-title" *ngIf="isLargeScreen">{{ 'keyChain' | translate }}</h1>
            <p class="product-description">{{ 'keyChainDescription' | translate }}</p>
            <div class="sub-images mt-4">
                <h4 class="mt-2">{{ 'images' | translate }}</h4>
                <div class="row">
                    <div class="col-4">
                        <img src="https://www.dropbox.com/scl/fi/db3parer92b836ubb6brh/keyChain1.png?rlkey=w524cab3o6p8o36jxf08xreie&st=wtkq3lzy&raw=1"
                        (click)="openModal('https://www.dropbox.com/scl/fi/db3parer92b836ubb6brh/keyChain1.png?rlkey=w524cab3o6p8o36jxf08xreie&st=wtkq3lzy&raw=1')"
                            class="img-fluid" alt="Sub Image 1">
                    </div>
                </div>
                <div class="sub-images mt-4">
                    <h4 class="mt-2">{{ 'arts' | translate }}</h4>
                    <div class="row">
                        <div class="col-md-2 col-4">
                            <img src="https://www.dropbox.com/scl/fi/jdjou43y2scnuanhh4v4y/keyChainPattern-01.png?rlkey=hwu5j8jmmpsrdc38yoaclgjzm&st=fn1hscdw&raw=1"
                            (click)="openModal('https://www.dropbox.com/scl/fi/jdjou43y2scnuanhh4v4y/keyChainPattern-01.png?rlkey=hwu5j8jmmpsrdc38yoaclgjzm&st=fn1hscdw&raw=1')"
                                class="img-fluid" alt="Sub Image 1">
                        </div>
                        <div class="col-md-2 col-4">
                            <img src="https://www.dropbox.com/scl/fi/b8l41a7x30dld8xyptkzq/keyChainPattern-02.png?rlkey=rish775fxpu0csgqo41iosm6j&st=19pl42ng&raw=1"
                            (click)="openModal('https://www.dropbox.com/scl/fi/b8l41a7x30dld8xyptkzq/keyChainPattern-02.png?rlkey=rish775fxpu0csgqo41iosm6j&st=19pl42ng&raw=1')"
                                class="img-fluid" alt="Sub Image 1">
                        </div>
                        <div class="col-md-2 col-4">
                            <img src="https://www.dropbox.com/scl/fi/77wj8773pjxagsys5ay3d/keyChainPattern-03.png?rlkey=dbvoxf69n1kx2x5eutez5n2yn&st=477x9w2f&raw=1"
                            (click)="openModal('https://www.dropbox.com/scl/fi/77wj8773pjxagsys5ay3d/keyChainPattern-03.png?rlkey=dbvoxf69n1kx2x5eutez5n2yn&st=477x9w2f&raw=1')"
                                class="img-fluid" alt="Sub Image 1">
                        </div>
                        <div class="col-md-2 col-4">
                            <img src="https://www.dropbox.com/scl/fi/014rmdzqnxpxlm6dundod/keyChainPattern-04.png?rlkey=fyopq3d5nrd3379akhyhl8k02&st=qbzctx2j&raw=1"
                            (click)="openModal('https://www.dropbox.com/scl/fi/014rmdzqnxpxlm6dundod/keyChainPattern-04.png?rlkey=fyopq3d5nrd3379akhyhl8k02&st=qbzctx2j&raw=1')"
                                class="img-fluid" alt="Sub Image 1">
                        </div>
                        <div class="col-md-2 col-4">
                            <img src="https://www.dropbox.com/scl/fi/zz9sy6k7t4k6r71mz24bt/keyChainPattern-05.png?rlkey=2hdlo37fsjvt9sz4nss8libln&st=4dfugziq&raw=1"
                            (click)="openModal('https://www.dropbox.com/scl/fi/zz9sy6k7t4k6r71mz24bt/keyChainPattern-05.png?rlkey=2hdlo37fsjvt9sz4nss8libln&st=4dfugziq&raw=1')"
                                class="img-fluid" alt="Sub Image 1">
                        </div>
                        <div class="col-md-2 col-4">
                            <img src="https://www.dropbox.com/scl/fi/rl0kmq9swnb6adcjtlxci/keyChainPattern-06.png?rlkey=ovrffgnofedvsosw2wik1g9ss&st=8gtu2103&raw=1"
                            (click)="openModal('https://www.dropbox.com/scl/fi/rl0kmq9swnb6adcjtlxci/keyChainPattern-06.png?rlkey=ovrffgnofedvsosw2wik1g9ss&st=8gtu2103&raw=1')"
                                class="img-fluid" alt="Sub Image 1">
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="mt-2">{{ 'dimensions' | translate }}</h4>
                    <div>● {{ 'medium' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                    <div>● {{ 'large' | translate }}<b> : 32 * 32 * 40 {{ 'cm' | translate }}</b></div>
                </div>
            </div>
        </div>
    </div>
</div>