/* src/app/navbar/navbar.component.scss */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e2122;
    color: white;

    padding-left: 15px; @media (min-width: 768px) { padding-left: 160px; }
    padding-right: 15px; @media (min-width: 768px) { padding-right: 160px; }
  }

  .dropdown-menu{
    background-color: #1e2122;
  }

  .dropdown-menu a{
    color: white;
  }

  .nav-link{
    color: white;
  }
  
  .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }